body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #61dafb;
}

.tic-tac-toe-container {
    text-align: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #61dafb;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    color: #282c34;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #282c34;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #2079b0;
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
    color: #61dafb;
    background-color: #282c34;
    padding: 10px;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #fff; /* Different color for the button text */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3498db;
}
